/* =============================================================================
   HTML5 CSS Reset - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent
}

body{
  line-height:1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  display:block
}

nav ul{
  list-style:none
}

blockquote,q{
  quotes:none
}

blockquote:before,blockquote:after,q:before,q:after{
  content:none
}

mark{
  background-color:rgb(255, 0, 0);
  color:#000;
  font-style:italic;
  font-weight:bold
}

del{
  text-decoration:line-through
}

abbr[title],dfn[title]{
  border-bottom:1px dotted;
  cursor:help
}

table{
  border-collapse:collapse;
  border-spacing:0
}

hr{
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0
}

input,select{
  vertical-align:middle
}

li{
  list-style:none
}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0);
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
  background-color: #ffe09e;
}

canvas{
  display:block;
  vertical-align:bottom;
}

::selection {
  background: #64d728;
  color: #d70f62;
}

::-moz-selection {
  background: #64d728;
  color: #d70f62;
}

#kathNameImg {
  max-width: 100%;
  max-height: 100%;
  animation: jello 1.5s linear infinite;
  animation-play-state: paused;
}

#kathNameImg:hover{
  animation-play-state: running;
}

#kathPortrait {
  position: fixed;
  right:-2%;
  bottom:-2%;
  max-width: 14%;
  max-width: 20%;
  animation: jello 1.5s linear infinite;
  animation-play-state: paused;
}

#poemImg {
  width: 400px;
}

#comicsImg {
  width: 450px;
}

#booksImg {
  width: 425px;
}

#interviewImg {
  width: 600px;
}

#kathPortrait:hover{
  animation-play-state: running;
}

/* ---- particles.js container ---- */

#particles-js{
  position: fixed;
  /* z-index: -1; */
  width: 100%;
  height: 100%;
  background-image: url('../js/img/purple_vignette.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* ---- Start reg custom site content elems ----*/

/* consider outlines like https://pudding.cool/2021/03/love-and-ai/ */
#frontOfParticles {
  position: absolute;
  top: 0%;
  left: 0%;
  padding-bottom: 5%;
  max-width: 150%;
  margin-left: 20%;
  margin-right: 20%;
  /* width: 75%; */
  /* left: 12.5%; */
  /* color: #000000; */
  /* font-family: 'Source Code Pro', monospace;   */
  /* font-size: .9em; */
  /* text-align: left; */
  /* font-weight: bold; */
}


/* ---- Start small custom site content elems ---- */

table {
  border-collapse: collapse;
  width: 100%;
  background-size: contain;  
}

#kathName {
  background-image: url('../js/img/foil_small_3.jpg');
  background-size: contain;  
  font-size: 7em;
  font-family: 'Permanent Marker', cursive;
  color: #8dff55;
  text-decoration: underline;
  padding: 16px;

}

.subhead {
  font-size: 7em;
  font-family: 'Raleway', sans-serif;
  color: #fffe1f;
  background-color: #fbc8ca;
  border: 12px dashed #2162c0;
  display: none;
  border-radius: 100px;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  background-size: contain;  
  font-family: 'Bevan';  
}

.contentLink {
  font-size: 25px;
  padding: 5px 25px 5px 25px;
  line-height: 2;
  border-radius: 10px;
  font-family: 'Hina Mincho', serif;
  color: #135d16;
  background-color: #000000;
  -webkit-box-shadow: 0 5px 3px -3px rgb(82, 82, 82);
  -moz-box-shadow: 0 5px 3px -3px rgb(82, 82, 82);
  box-shadow: 0 5px 3px -3px rgb(82, 82, 82);
  text-decoration:none;
}

.contentLink:hover {
  background: #8dff55;
  color: #f76629;
  -webkit-box-shadow: 0 10px 6px -6px rgb(82, 82, 82);
  -moz-box-shadow: 0 10px 6px -6px rgb(82, 82, 82);
  box-shadow: 0 10px 6px -6px rgb(82, 82, 82);

}

th, td {
  text-align: center;
  padding: 15px;
}

.blownUpFont {
  font-size: 35px;
}

/* Start mid screen section */
@media only screen and (max-width: 1050px) {
  
  #poemImg {
    width: 375px;
  }
  
  #comicsImg {
    width: 325px;
  }
  
  #booksImg {
    width: 325px;
  }
  
  #interviewImg {
    width: 425px;
  }

  .contentLink {
    font-size: 22px;
  }  

  .blownUpFont {
    font-size: 28px;
  }  
}
/* end mid screen section */


/* Start small screen section */
@media only screen and (max-width: 795px) {
  
  #frontOfParticles {
    margin-left: 4%;
    margin-right: 4%;
  }

  #poemImg {
    width: 300px;
  }
  
  #comicsImg {
    width: 275px;
  }
  
  #booksImg {
    width: 276px;
  }
  
  #interviewImg {
    width: 300px;
  }

  .contentLink {
    font-size: 18px;
  }

  .blownUpFont {
    font-size: 24px;
  }

  #kathPortrait {
    bottom:-1%;
  }  

}
/* end small screen section */


/* Start tiny screen section */
@media only screen and (max-width: 399px) {
  
  #frontOfParticles {
    margin-left: 4%;
    margin-right: 4%;
  }

  #poemImg {
    width: 250px;
  }
  
  #comicsImg {
    width: 225px;
  }
  
  #booksImg {
    width: 225px;
  }
  
  #interviewImg {
    width: 250px;
  }

  .contentLink {
    font-size: 14px;
  }

  .blownUpFont {
    font-size: 18px;
  }

}
/* end tiny screen section */



/* Copied paper effects */
/* https://css-tricks.com/almanac/properties/b/box-shadow/ */

/*==================================================
 * Effect 1
 * ===============================================*/
 .effect1{
  -webkit-box-shadow: 0 10px 6px -6px rgb(82, 82, 82);
  -moz-box-shadow: 0 10px 6px -6px rgb(82, 82, 82);
  box-shadow: 0 10px 6px -6px rgb(82, 82, 82);
}

.effect1a{
  -webkit-box-shadow: 10px 0px 6px -6px rgb(82, 82, 82);
  -moz-box-shadow: 10px 0px 6px -6px rgb(82, 82, 82);
  box-shadow: 10px 0px 6px -6px rgb(82, 82, 82);
}

.effect1b{
  -webkit-box-shadow: 0 10px 6px -6px rgb(82, 82, 82);
  -moz-box-shadow: 0 10px 6px -6px rgb(82, 82, 82);
  box-shadow: 0 10px 6px -6px rgb(82, 82, 82);
}


@keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
};