/* =============================================================================
   HTML5 CSS Reset - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent
}

body{
  line-height:1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  display:block
}

nav ul{
  list-style:none
}

blockquote,q{
  quotes:none
}

blockquote:before,blockquote:after,q:before,q:after{
  content:none
}

a{
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration:none;
  z-index: 10;
}

mark{
  background-color:rgb(255, 0, 0);
  color:#000;
  font-style:italic;
  font-weight:bold
}

del{
  text-decoration:line-through
}

abbr[title],dfn[title]{
  border-bottom:1px dotted;
  cursor:help
}

table{
  border-collapse:collapse;
  border-spacing:0
}

hr{
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0
}

input,select{
  vertical-align:middle
}

li{
  list-style:none
}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0);
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
  background-color: #ffe09e;
}

canvas{
  display:block;
  vertical-align:bottom;
}

::selection {
  background: #2c6ee5;
  color: #faf45c;
}

::-moz-selection {
  background: #2c6ee5;
  color: #faf45c;
}


/* ---- particles.js container ---- */

#particles-js{
  position: fixed;
  /* z-index: -1; */
  width: 100%;
  height: 100%;
  background-color: #ffe09e;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* ---- Start reg custom site content elems ----*/

/* consider outlines like https://pudding.cool/2021/03/love-and-ai/ */
#frontOfParticles {
  position: absolute;
  top: 0%;
  /* width: 75%; */
  /* left: 12.5%; */
  /* color: #000000; */
  /* font-family: 'Source Code Pro', monospace;   */
  /* font-size: .9em; */
  /* text-align: left; */
  /* font-weight: bold; */
}


/* ---- Start small custom site content elems ---- */

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-size: 3em;
  font-family: 'Hina Mincho', serif;  
  color: #e8534a;
  background-color: #ffe09e;

}

a {
  font-size: 2em;
  font-family: 'Hina Mincho', serif;
  color: #4d5398;
  background-color: #ffe09e;
}

a:hover {
  background: #fdf764;
  color: #e8534a;
  animation: animate__rubberBand; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */  
}

th, td {
  text-align: left;
  padding: 15px;
}

/* Start small screen section */
@media only screen and (max-width: 430px) {}


/* ---- Start copied animations ---- */

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.animate__rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

/* ---- End copied animations ---- */